apiVersion: apps/v1
kind: Deployment
metadata:
  name: webpage
  labels:
    app: app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
      - name: app
        image: devopsbyarun/webpage
        ports:
        - containerPort: 80

---

apiVersion: v1
kind: Service
metadata:
  name: webpage
spec:
  selector:
    app.kubernetes.io/name: app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
